*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: monospace;
}

.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.task-image {
  padding: 5px;
  background-color: grey;
  margin-left: 5px;
  align-self: center;
}

.task-display {
  background-color: grey;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  flex-grow: 0;
}

.moves-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.edit-moves-container {
  font-size: 5px;
  display: flex;
  flex-direction: row;
  flex-basis: 50px;
  padding: 6px;
  margin: 5px;
  cursor: pointer;
}

.moves {
  display: flex;
  flex-direction: row;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-basis: 50px;
  justify-content: center;
  background-color: aliceblue;
  padding: 6px;
  margin: 5px;
  cursor: pointer;
  font-size: 33px;
  border: 1px solid black;
}

.king-safety-button {
    width: 150px;
    justify-content: center;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid black;
}

.right-side {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 510px;
}

.check-button {
  margin-top: auto;
}

.task-explanation {
  font-size: 15px;
  padding-left: 5px;
  padding-top: 10px;
}

.candidate-moves {
  font-size: 20px;
  padding-left: 5px;
  padding-top: 5px;
}

.wrong {
    background-color: red;
}

.task-image-left {
    height: 377px;
}

.arrow-image {
    height: 50px;
    padding: 10px 10px 10px 10px;
    align-self: center;
}

.task-container {
    display: flex;
    padding: 10px 10px 10px 10px;
}

.answers {
    background-color: #ffffff;
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.exercise-number {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.move {
    background-color: #ffffff;
    font-size: 12px;
    font-family: FreeSerif;
}


 /* CSS */
.button-6 {
     align-items: center;
     background-color: #FFFFFF;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: .25rem;
     box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
     box-sizing: border-box;
     color: rgba(0, 0, 0, 0.85);
     cursor: pointer;
     display: inline-flex;
     font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 16px;
     font-weight: 600;
     justify-content: center;
     line-height: 1.25;
     margin: 0;
     min-height: 3rem;
     /* padding: calc(.875rem - 1px) calc(1.5rem - 1px); */
     padding: calc(.875rem - 1px) calc(1.5rem - 1px);
     position: relative;
     text-decoration: none;
     transition: all 250ms;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
     width: auto;

}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.button-6-disabled {
    pointer-events: none;
    color: gray;
}

.correct-invisible {
    display: none;
}

.correct-visible {
    color: #00e100;
    display: flex;
}

.incorrect-visible {
    color: red;
    display: flex;
}

.general {
    display: flex;
    flex-direction: column;
}


.chessboard {
    display: grid;
    grid-template-columns: 51px 51px 51px 51px 51px 51px 51px 51px;
    grid-template-rows: 51px 51px 51px 51px 51px 51px 51px 51px;
}

.white-cell {
    background: white;
}

.black-cell {
    background: burlywood;
}

.board-piece-image {
    background-color: transparent;
    position: relative;
    top: calc(50% - 23px);
    left: calc(50% - 23px);
}

.board-piece-image-inactive {
    opacity: .2;
}

.answer-text {
    font-size: 15px;
}

.answer-move-text {
    font-size: 20px;
}

.answer-piece {
    top: .225em;
    left: .125em;
    position: relative;
    display: inline-flex;
    align-self: baseline;
}

.user-answers {
    background-color: white;
    width: 180px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.answers {
    background-color: #ffffff;
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.user-answers-calculation {
    background-color: #ffffff;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.variation-background {
    background-color: #FFFFFF;
    cursor: pointer;
}


.red-color {
    color: red;
}

.green-color {
    color: green;
}

.user-answers-new {
    display: inline-flex;
}

.edit-variations-container {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    margin-left: 20px;
}

.current-exercise-border {
    border: black 2px solid;
}

.error-exercise-border {
    border: red 2px solid;
}

.correct-exercise-border {
    border: #07f707 2px solid;
}

.current-variation-border {
    border: gray 2px dotted;
}

.user-answer-cell {
    height: 50px;
    width: 180px;
    background-color: white;
}
